$font-primary: 'Cormorant', Arial, sans-serif;
$font-secondary: 'Pacifico', Arial, serif;

$color-primary: #594c42;
$color-secondary: #fefefe;
$color-tertiary: #FF6B6B;

$breakpoints: (
  xs: 0px,
  sm: 375px,
  md-: 576px,
  md: 768px,
  lg: 1024px,
  xl-: 1152px,
  xl: 1280px,
  xxl: 1440px,
);
